.wrapper {
  min-height: 100%;
  color: #3d4255;
  background-color: #e0e0e0;

  .panel {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 75px;
    line-height: 40px;
    text-align: center;

    h3 {
      width: 100%;
    }
  }
  .todo-app {
    padding: 55px 0 0;
    display: block;
    text-align: center;

    .dynamic-block {
      display: inline-block;
      text-align: initial;
      min-width: 40vw;
      max-width: 60vw;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.05), 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    @media screen and (max-width: 850px) {
      display: block;
      padding: 8px 5px;
        .dynamic-block {
          min-width: 70vw;
        }
    }
    @media screen and (max-width: 650px) {
      display: block;
      padding: 8px 5px;
        .dynamic-block {
          min-width: 96.5vw;
        }
        ul li {
          font-size: 20px !important;
        }
    }
    @media screen and (max-width: 400px) {
      .dynamic-block {
        min-width: 390px;
        width: 390px;
      }
    }


    .input-form {
      display: inline-block;
      margin-top: 10px;
      width: 100%;
      color: #BBB;
      font: 16px monospace;
      box-shadow: inset 0px -4px 5px 0px rgba(0, 0, 0, 0.08);
      height: 55px;

      .control {
        position: absolute;
        margin-left: 20px;
        margin-top: 3px;
        font-size: 30px;
        display: inline-block;
        transition: color .3s linear;
        &:hover {
          color: #909090;
        }
      }

      input {
        color: #3d4255;
        border: 0;
        height: 40px;
        padding: 0 0px 0 62px;
        background: rgba(0, 0, 0, 0);
        font-size: 30px;
        font-weight: 100;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      input {
        position: relative;
        height: 55px;
        font-size: 30px;
        font-weight: 100;
        line-height: 40px;
        padding: 0 0 0 60px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 0;
        border-right: 0;
        border-left: 0;
      }

      li {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        min-height: 55px;
        font-size: 30px;
        font-weight: 100;
        line-height: 55px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        .toggle-done {
          position: absolute;
          color: transparent;
          border-radius: 50px;
          display: inline-block;
          width: 36px;
          height: 36px;
          margin: 8px 0 0 10px;
          text-align: center;
          line-height: 38px;
        }
        span {
          padding: 0 60px;
          width: 100%;
          box-sizing: border-box;
          display: block;
        }
        .remove {
          color: transparent;
          position: absolute;
          top: 0;
          right: 20px;
        }

        &.item-is-done {
          text-decoration: line-through;
          color: #bbb;
        }

        &:hover {
          .remove {
            color: rgba(181, 24, 24, 0.7);
            &:hover {
              color: rgba(181, 24, 24, 1);
            }
          }
        }
      }
    }

    input {
      outline: none;
      font-family: $FontName;
      box-sizing: border-box;
      width: 100%;
    }

    .control {
      font-style: normal;
      cursor: pointer;
    }

    .filters-block-wrapper {
      padding: 20px;
      display: flex;
      line-height: 55px;
      .filters-block {
        display: inline-block;
        min-width: 200px;
        button {
          margin: 0 3px;
          padding: 10px;
          border: 0;
          background-color: lightgray;
          cursor: pointer;
          outline: none;
          background-color: #fff;
          transition: all .9s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
          box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
          border-radius: 2px;
        }
      }
      span {
        font-size: 14px;
        color: #bbb;
        @media screen and (max-width: 500px) {
          font-size: 11px;
        }
      }
      a {
        font-size: 14px;
        color: #bbb;
        transition: color .3s linear;
        &:hover {
          color: #3d4255;
        }
        @media screen and (max-width: 500px) {
          font-size: 11px;
        }
      }
    }
  }

  .material-buttons {
    position: fixed;
    right: 35px;
    bottom: 20px;
    ul {
      list-style: none;
      li {
        width: 56px;
        height: 53px;
        background-color: #008bd2;
        color: #fff;
        border-bottom: 4px solid #006aa0;
        position: relative;
        border-radius: 56px;
        text-align: center;
        font-size: 32px;
        line-height: 56px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
        cursor: pointer;
        &:last-child {
          &::after {
            content: '+';
          }
        }
        span {
          position: absolute;
          font-size: 12px;
          padding: 2px 8px;
          top: 5px;
          background-color: rgba(43,43,43,0.67);
          max-height: 20px;
          border-radius: 3px;
          line-height: 21px;
        }
        &.secondary {
          width: 36px;
          height: 34px;
          border-radius: 36px;
          border-bottom: 3px solid #006aa0;
          font-size: 22px;
          line-height: 40px;
          margin-left: 10px;
          margin-bottom: 10px;
          &#paste-dummy-data span {
            left: -122px;
          }
          &#clear-raw-area span {
            left: -107px;
          }
        }
        &#show-raw-html span {
          top: 15px;
          left: -102px;
        }
        &:hover {
          &:last-child {
            &::after {
              content: '⧉';
            }
          }
        }
      }
    }
  }
}

.modal-header {
  h3 {
    margin: 0;
    padding: 35px 35px 0;
  }
  button {
    position: absolute;
    top: 0;
    right: 15px;
    padding: 0;
    border: 0;
    color: #a9a9a9;
    background-color: transparent;
    font-size: 32px;
    cursor: pointer;
    outline: none;
    transition: color .3s linear;
    &:hover {
      color: #6b6b6b;
    }
  }
}

.raw-html {
  pre {
    margin: 0;
    padding: 35px;
  }
}
